Django==1.10.6
PyJWT==1.4.2
argparse==1.2.1
oauthlib==2.0.2
python-openid==2.2.5
requests==2.13.0
requests-oauthlib==0.8.0
six==1.10.0
social-auth-app-django==1.1.0
social-auth-core==1.2.0
wsgiref==0.1.2